@charset "UTF-8";
:root {
  --px2-main-color: #00a0e6;
  --px2-text-color: #333;
  --px2-background-color: #f9f9f9; }

* {
  outline: none; }

.splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-align: center;
  color: #999;
  padding-top: 3rem; }
  .splash__px2logo {
    width: 80%;
    max-width: 140px;
    margin: 2em auto; }
    .splash__px2logo img {
      width: 100%; }

.installer-mode {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 11px;
  text-align: center;
  color: #999;
  padding-top: 3rem; }
  .installer-mode__px2logo {
    width: 80%;
    max-width: 140px;
    margin: 2em auto; }
    .installer-mode__px2logo img {
      width: 100%; }
  .installer-mode__appname {
    font-size: 1.8em;
    font-weight: bold; }

/**
 * px.watcher
 */
.theme_ui_px_live_report {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10000;
  padding: 3px 10px;
  background-color: #eee;
  font-size: 11px;
  pointer-events: none;
  transition: transform 0.5s ease-out 0.2s, opacity 0.5s ease-out 0.2s; }
  .theme_ui_px_live_report--hidden {
    transform: translateY(20px);
    opacity: 0; }
  .px2-darkmode .theme_ui_px_live_report {
    background-color: #111;
    color: #aaa; }

/**
 * status bar
 */
.theme-statusbar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 10000;
  background-color: #f9f9f9;
  border-top: 1px solid #aaa;
  display: flex; }
  .theme-statusbar__left, .theme-statusbar__right {
    display: flex;
    flex-grow: 1; }
    .theme-statusbar__left div, .theme-statusbar__right div {
      padding: 2px 5px;
      margin: 1px 2px;
      font-size: 11px; }
  .theme-statusbar__left {
    justify-content: flex-start; }
  .theme-statusbar__right {
    justify-content: flex-end; }
  .px2-darkmode .theme-statusbar {
    background-color: #060606;
    border-top-color: #444; }

.contents {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 150px;
  overflow: auto;
  z-index: 50; }
  .contents iframe {
    display: block;
    width: 100%;
    max-height: 100%;
    border: none;
    margin: 0;
    padding: 0; }

.cont_top_jumbotron {
  background-color: #f6f6f6;
  background-image: url("./images/main.png");
  background-position: center center;
  background-size: cover;
  color: #00a0e6;
  padding: 3em 0.5em; }
  .px2-darkmode .cont_top_jumbotron {
    background-color: #333;
    background-image: url("./images/main_darkmode.png"); }

.cont_top_footer {
  text-align: center;
  padding: 5px;
  border-top: 1px solid #999;
  background-color: #f6f6f6;
  color: #666; }
  .cont_top_footer a {
    color: #333;
    text-decoration: underline; }
  .px2-darkmode .cont_top_footer {
    border-top-color: #444;
    background-color: #090909;
    color: #999; }
    .px2-darkmode .cont_top_footer a {
      color: #ccc; }

.cont_project-list-filter {
  position: relative; }
  .cont_project-list-filter button.cont_project-list-filter__clear {
    position: absolute;
    right: 5px;
    top: calc(50% - 0.7em);
    background-color: #eee;
    color: #666;
    border-radius: 50%;
    border: none;
    font-size: 10px; }
    .cont_project-list-filter button.cont_project-list-filter__clear:active {
      background-color: #e3e3e3;
      color: #333; }

.theme-command-terminal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  height: 100%;
  width: 100%;
  display: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5); }
  .theme-command-terminal__main {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: -70%;
    left: 0;
    height: 70%;
    width: 100%;
    overflow: hidden;
    transition: bottom 0.3s ease-out 0s;
    background-color: #fefefe; }
    .px2-darkmode .theme-command-terminal__main {
      background-color: #111;
      color: #aaa; }
  .theme-command-terminal__title-bar {
    padding: 4px 1em;
    border-top: 1px solid #f0f0f0; }
    .px2-darkmode .theme-command-terminal__title-bar {
      border-top: 1px solid #111; }
  .theme-command-terminal__cQ {
    position: relative;
    flex-grow: 1;
    width: 100%; }

.px2-header {
  height: 45px;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif; }
  .px2-header__inner {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 10px;
    z-index: 100;
    border-bottom: 3px solid #000;
    border-bottom: 3px solid var(--px2-main-color, #000);
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.1);
    color: #666;
    line-height: 1;
    box-sizing: border-box;
    border-bottom-color: #000;
    border-bottom-color: var(--px2-main-color, #000);
    color: #000;
    color: var(--px2-main-color, #000); }
  .px2-header a {
    color: #333;
    text-decoration: underline; }
    .px2-header a:hover {
      color: #000;
      text-decoration: none; }
  .px2-header__px2logo {
    transition: min-width 0.3s ease-out 0s , width 0.3s ease-out 0s , height 0.3s ease-out 0s;
    position: relative;
    left: 0px;
    top: 0px;
    padding: 6px;
    margin-left: 6px;
    width: 45px;
    height: auto;
    box-sizing: border-box; }
    .px2-header__px2logo a {
      display: inline-block;
      position: absolute;
      padding: 6px;
      background-color: #fff;
      left: 0;
      top: 0;
      transition: min-width 0.3s ease-out 0s , width 0.3s ease-out 0s , height 0.3s ease-out 0s;
      width: 45px;
      height: 45px;
      box-sizing: border-box; }
      .px2-header__px2logo a img, .px2-header__px2logo a svg {
        width: 100%;
        height: 100%; }
  .px2-header__block {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 100;
    justify-content: space-between; }
  .px2-header__id {
    width: auto;
    margin: 0;
    padding: 10px 0 0 0;
    font-size: 13px;
    transition: opacity 0.5s ease 0; }
    .px2-header__id * {
      color: #000;
      color: var(--px2-main-color, #000);
      margin: 0 0.5em;
      display: inline-block;
      text-shadow: none;
      font-weight: normal; }
    .px2-header__id a {
      color: #000;
      color: var(--px2-main-color, #000);
      text-decoration: none; }
      .px2-header__id a:hover {
        color: #000;
        text-decoration: none; }
  .px2-header__global-menu {
    padding: 0;
    margin: 0;
    margin-right: 35px;
    margin-bottom: -3px;
    line-height: 1;
    min-height: calc(12px + 5px + 1em); }
    .px2-header__global-menu ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin: 0;
      padding: 0; }
      .px2-header__global-menu ul li {
        margin: 0 1px 0 1px;
        padding: 0;
        list-style-type: none;
        font-size: 13px;
        position: relative; }
        .px2-header__global-menu ul li a, .px2-header__global-menu ul li span {
          display: block;
          margin: 0;
          padding: 12px 2em 5px;
          color: #666;
          border: none;
          font-weight: normal;
          text-decoration: none;
          border-bottom: 3px solid transparent; }
          .px2-header__global-menu ul li a:hover, .px2-header__global-menu ul li span:hover {
            color: #000;
            color: var(--px2-main-color, #000); }
          .px2-header__global-menu ul li a.current, .px2-header__global-menu ul li span.current {
            font-weight: bold;
            border-bottom-color: rgba(255, 255, 255, 0.85);
            color: #000;
            color: var(--px2-main-color, #000);
            padding-left: 1em; }
            .px2-header__global-menu ul li a.current:before, .px2-header__global-menu ul li span.current:before {
              content: ' ';
              width: 0;
              height: 0;
              display: inline-block;
              margin-right: 0.5em;
              border-width: 0.3em 0 0.3em 0.5em;
              border-style: solid;
              border-color: #000;
              border-color: var(--px2-main-color, #000);
              border-top-color: transparent;
              border-bottom-color: transparent; }
        .px2-header__global-menu ul li span {
          padding-left: 0;
          padding-right: 0; }
      .px2-header__global-menu ul ul {
        display: none;
        position: absolute;
        right: 0;
        top: 100%; }
      .px2-header__global-menu ul li.px2-header__global-menu-group > a::after {
        content: ' ';
        width: 0;
        height: 0;
        display: inline-block;
        margin-left: 0.3em;
        border-width: 0.3em 0 0.3em 0.5em;
        border-style: solid;
        border-color: #666;
        border-top-color: transparent;
        border-bottom-color: transparent;
        transition: transform 0.2s ease-in;
        transform: rotate(90deg); }
      .px2-header__global-menu ul li.px2-header__global-menu-group ul {
        padding: 0;
        background-color: #999; }
        .px2-header__global-menu ul li.px2-header__global-menu-group ul li {
          list-style-type: none; }
          .px2-header__global-menu ul li.px2-header__global-menu-group ul li a {
            font-weight: normal;
            padding: 0.8em 2em;
            color: #eee;
            background-color: #333;
            text-decoration: none; }
            .px2-header__global-menu ul li.px2-header__global-menu-group ul li a:hover {
              background-color: #666;
              color: #fff; }
            .px2-header__global-menu ul li.px2-header__global-menu-group ul li a.current {
              font-weight: bold;
              padding: 0.8em 2em;
              background-color: #000;
              background-color: var(--px2-main-color, #000);
              color: #fff;
              border: none; }
              .px2-header__global-menu ul li.px2-header__global-menu-group ul li a.current:before {
                content: none; }
      .px2-header__global-menu ul li.px2-header__global-menu-group-opened {
        z-index: 10000; }
      .px2-header__global-menu ul li.px2-header__global-menu-group-opened > a::after {
        transform: rotate(90deg); }
  .px2-header__shoulder-menu {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    overflow: hidden; }
    .px2-header__shoulder-menu > button {
      background: #f9f9f9;
      border: none;
      border-radius: 0;
      border-left: 1px solid #000;
      border-left: 1px solid var(--px2-main-color, #000);
      position: absolute;
      top: 0;
      right: 0;
      height: 30px;
      width: 30px;
      box-sizing: border-box;
      padding: 0.5em;
      cursor: pointer; }
    .px2-header__shoulder-menu > ul {
      position: absolute;
      top: 30px;
      right: 0;
      display: none;
      margin: 0;
      padding: 0;
      list-style-type: none;
      background-color: #333;
      border: 1px solid #aaa;
      overflow: auto;
      width: 280px;
      max-width: 100%;
      opacity: 0.95; }
      .px2-header__shoulder-menu > ul li {
        margin: 0 0 1px 0;
        border-bottom: 1px solid #555;
        font-size: 13px; }
        .px2-header__shoulder-menu > ul li:last-child {
          border: none; }
        .px2-header__shoulder-menu > ul li a {
          display: block;
          font-weight: normal;
          padding: 0.8em 2em;
          color: #eee;
          background-color: #333;
          text-decoration: none; }
          .px2-header__shoulder-menu > ul li a:hover {
            background-color: #444;
            color: #fff; }
          .px2-header__shoulder-menu > ul li a.current {
            font-weight: bold;
            background-color: #000;
            background-color: var(--px2-main-color, #000);
            color: #fff; }
      .px2-header__shoulder-menu > ul li.px2-header__shoulder-menu-group > a::after {
        content: ' ';
        width: 0;
        height: 0;
        display: inline-block;
        margin-left: 1em;
        border-width: 0.3em 0 0.3em 0.5em;
        border-style: solid;
        border-color: #eee;
        border-top-color: transparent;
        border-bottom-color: transparent;
        transition: transform 0.2s ease-in; }
      .px2-header__shoulder-menu > ul li.px2-header__shoulder-menu-group ul {
        padding: 0 0 0 15px;
        margin: 0 0 0 0;
        display: none; }
        .px2-header__shoulder-menu > ul li.px2-header__shoulder-menu-group ul li {
          list-style-type: none; }
          .px2-header__shoulder-menu > ul li.px2-header__shoulder-menu-group ul li a {
            background-color: #555;
            color: #ddd; }
            .px2-header__shoulder-menu > ul li.px2-header__shoulder-menu-group ul li a:hover {
              background-color: #666;
              color: #fff; }
            .px2-header__shoulder-menu > ul li.px2-header__shoulder-menu-group ul li a.current {
              font-weight: bold;
              background-color: #000;
              background-color: var(--px2-main-color, #000);
              color: #fff; }
      .px2-header__shoulder-menu > ul li.px2-header__shoulder-menu-group-opened > a::after {
        transform: rotate(90deg); }
      .px2-header__shoulder-menu > ul > li:last-child {
        margin-bottom: 30px; }
  .px2-header__hamburger, .px2-header__hamburger:before, .px2-header__hamburger:after {
    display: block;
    position: absolute;
    height: 2px;
    width: calc(100% - 1em);
    border-radius: 1px;
    margin: 0 auto;
    background: #000;
    background: var(--px2-main-color, #000);
    content: ''; }
  .px2-header__hamburger:before {
    bottom: -6px;
    width: 100%; }
  .px2-header__hamburger:after {
    bottom: 6px;
    width: 100%; }
  .px2-header .px2-header__shoulder-global-menu {
    display: none; }
  @media all and (max-width: 640px) {
    .px2-header__global-menu ul {
      display: none; }
    .px2-header .px2-header__shoulder-global-menu {
      display: block; }
    .px2-header .px2-header__shoulder-global-menu--last {
      border-bottom: 5px solid #aaa; } }

.px2-editor-type {
  display: inline-block;
  font-size: 12px;
  font-family: sans-serif;
  line-height: 1;
  padding: 0.4em 1em;
  text-align: center;
  color: #fff; }
  .px2-editor-type__html, .px2-editor-type--html {
    display: inline-block;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 1;
    padding: 0.4em 1em;
    text-align: center;
    color: #fff;
    background-color: #4a8a98; }
    .px2-editor-type__html:before, .px2-editor-type--html:before {
      content: "HTML"; }
  .px2-editor-type__html-gui, .px2-editor-type--html-gui {
    display: inline-block;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 1;
    padding: 0.4em 1em;
    text-align: center;
    color: #fff;
    background-color: #9f5b75; }
    .px2-editor-type__html-gui:before, .px2-editor-type--html-gui:before {
      content: "Block"; }
  .px2-editor-type__txt, .px2-editor-type--txt {
    display: inline-block;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 1;
    padding: 0.4em 1em;
    text-align: center;
    color: #fff;
    background-color: #999; }
    .px2-editor-type__txt:before, .px2-editor-type--txt:before {
      content: "TEXT"; }
  .px2-editor-type__md, .px2-editor-type--md {
    display: inline-block;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 1;
    padding: 0.4em 1em;
    text-align: center;
    color: #fff;
    background-color: #ae9b59; }
    .px2-editor-type__md:before, .px2-editor-type--md:before {
      content: "Markdown"; }
  .px2-editor-type__jade, .px2-editor-type--jade {
    display: inline-block;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 1;
    padding: 0.4em 1em;
    text-align: center;
    color: #fff;
    background-color: #999; }
    .px2-editor-type__jade:before, .px2-editor-type--jade:before {
      content: "Jade"; }
  .px2-editor-type__not-exists, .px2-editor-type--not-exists {
    display: inline-block;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 1;
    padding: 0.4em 1em;
    text-align: center;
    color: #fff;
    background-color: #c3c3c3; }
    .px2-editor-type__not-exists:before, .px2-editor-type--not-exists:before {
      content: "未作成"; }
  .px2-editor-type__page-not-exists, .px2-editor-type--page-not-exists {
    display: inline-block;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 1;
    padding: 0.4em 1em;
    text-align: center;
    color: #fff;
    background-color: #c3c3c3; }
    .px2-editor-type__page-not-exists:before, .px2-editor-type--page-not-exists:before {
      content: "ページ未作成"; }
  .px2-editor-type__alias, .px2-editor-type--alias {
    display: inline-block;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 1;
    padding: 0.4em 1em;
    text-align: center;
    color: #fff;
    background-color: #c3c3c3; }
    .px2-editor-type__alias:before, .px2-editor-type--alias:before {
      content: "ALIAS"; }
  .px2-editor-type--fullwidth {
    width: auto;
    display: block;
    float: none; }
